*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}
body{
  /* background-color:#343159; */
  background-image: 'IMG/fondo.png';
}
form {
    background-color: black;
    color: white;
    text-align: center;
    width: 50%;
    height: 80%;
    position: absolute;
    right: 0;
}
input{
  border-radius: 15px;
}
img{
  position: absolute;
    width: 40%;
    left: 10%;
    top: 66%;
}
