
div.general{
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
header{
  font-family: 'Montserrat', sans-serif;
  font-style: 700;
  padding-bottom: 20px;
  border-bottom: 1px gray solid;
}
nav{
  width: 300px;
  float: left;
}
section{
  font-family: 'Montserrat', sans-serif;
  float: left;
}
main{
  padding: 15px;
  overflow: hidden;
}
footer{
  padding-left: 20px;
  padding-right: 20px;
}
li{
  list-style: none;
}
a{
  font-family: 'Rubik', sans-serif;
  color:gray;
  text-decoration: none;
}
a.volver{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
}
section{
  width: 610px;
  float: right;
  box-sizing: border-box;
}
nav{
width: 300px;
float: left;
}
div.entradas{
  float: right;
}
div.foot{
  float: right;
}
article.plato{
  padding-left: 15px;
}
h4{
  font-style: 700;
}
